body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: rgb(248, 248, 248);
    padding: 0;
    width: 100%;
    height: 100%;
}

/*header start*/
header, .nav_bar{
    display: flex;
    height: 150px;
}

header{
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: white;
    box-shadow: 0px 
    1px 20px lightgray;
    z-index: 2;
}

header img{
    height: 150px;
    margin-left: 0px;
}

.nav_bar_right li{
    float: left;
}

.nav_bar_left li{
    float: right;
}

.nav_bar_left{
    margin-right: 20px;
}

nav li{
    list-style: none;
    font-size: 1.4em;
    padding: 40px;
}

a {
    text-decoration: none;
    color: black;
}


.nav_bar_left li:hover,.nav_bar_right li:hover{
    text-decoration: underline;
}

.active{
    font-weight: bold;
}

.basket_head_button{
    background-color: #8F5BFE;
    padding: 15px;
    color: white;
    position: relative;
    text-align: center;
}

@media screen and (max-width: 1210px) {
    header img{
        display: none;
    }
    .nav_bar_left, .nav_bar_right{
        display: flex;
    }
    .nav_bar_left{
        flex-direction: row-reverse;
    }

}
@media screen and (max-width: 980px) {
    .nav_bar_left, .nav_bar_right{
        display: flex;
        flex-direction: column-reverse;
    }
    .nav_bar_left li, .nav_bar_right li{
        padding: 20px;
        justify-content: space-around;
        text-align: center;
    }
}
/*header end*/

/*main start*/

main{
    position: relative;
    margin-top: 125px;
    padding: 50px;
    background: white;
    width: 1100px;
    margin-right:  auto;
    margin-left: auto;
    box-shadow: 0px 0px 2px lightgray;
    z-index: 1;
}

/*banniere start*/
.banniere{
    background: url("../../images/banniere-teddy.jpg") no-repeat;
    background-size: cover;
    filter: brightness(0.6);
    height: 900px;
    margin-top: 150px;
    background-position: 50% 0;
}

.banniere_text{
    position: absolute;
    width: 60%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);  
    color: rgb(241, 241, 241);
    text-shadow: black 3px 3px 15px;
    font-size: 1.4em;
    text-align: center;
}


/*banniere end*/

.peluche_title{
    text-align: center;
    text-shadow: gray 1px 1px 10px;
}

.products_description{
    background: #E6F4FA;
    border-radius: 10px;
    padding: 15px;
    box-sizing: content-box;
}

.product_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.product img{
    width: 500px;
    height: 450px;
    margin-top: 50px;
    box-shadow: 0px 0px 20px lightgray;
}

.product h3{
    text-align: center;
    border: 3px 3px 3px;
}

.product img:hover{
    box-shadow: 0px 0px 15px gray;
}
@media screen and (max-width: 1220px) {
    .product_list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .product_bloc{
        margin: auto;
    }
    main{
        width: auto;
    }
}

/*main end*/


/*product section start*/

.main_product{
    display: flex;
    justify-content: space-around;
}

.product_section{
    padding: 25px;
    width: 550px;
}

.product_section img{
    width: 600px;
}


/*aside start*/

aside{
    background: #f5f5f5;
    height: 600px;
    width: 300px;
    padding: 25px;
    margin-top: 100px;
    box-shadow: 0px 0px 20px lightgray;
}

aside h2{
    text-decoration: underline;
}

#basket_add_button{
    background-color: #8F5BFE;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    outline:none;
    position: absolute; 
    bottom: 0;
    margin-bottom: 100px;
}

#basket_add_button:hover{
    background-color: #a47aff;
}

#basket_add_button:active{
    background-color: #8F5BFE;
}
@media screen and (max-width: 1040px) {
    .main_product{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    aside{
        height: 250px;
        width: 600px;
        margin: auto;
    }
    .product_section{
        margin: auto
        ;
    }
}
/*aside endd*/

/*product section end*/

/*footer starttt*/

footer{
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    height: 300px;
    background-color: #F3E9F1;
    box-shadow: 0px 1px 20px lightgray;
    z-index: 2;}

.footer_main_section{
    display: flex;
    justify-content: space-evenly;
}

footer li{
    list-style: none;
    padding: 10px;
}

.bottom_footer{
    position: relative;
    text-align: center;
    bottom: -20px;
    margin: auto;
    font-style: italic;
    color: grey;
}

footer div{
    text-align: center;
}

@media screen and (max-width: 980px) {
    .footer_main_section > div{
        display: none;
    }
    footer{
        height: 65px;
    }
}
/*footer enddddddd*/

/*pannier starttttttttt*/

main{
    min-height: 620px;
}

.basket_titles{
    font-weight: 700;
    font-size: 1.2em;
    justify-content: space-between;
}

thead>th{
    text-align: center;
    justify-content: space-evenly;
    color: red;
}

.articles{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

table{
    width: 85%;
    margin: auto;
}

tbody{
    width: 100%;
}

#line_basket{
    margin-bottom: 10px;
}

#total_line{
    font-weight: bold;
    background-color: rgb(241, 241, 241);
    padding: 30px;
}

.ligne{
    margin-bottom:  50px;
    justify-content: center;
    border-bottom: grey 1px solid;
}

td img{
    width: 200px;
}

.delete_bloc{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.delete_button{
    color: red;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

button{
    font-size: 1.2em;
    margin: 20px;
    color: white;
}

.back{
    border: none;
    box-shadow: grey 1px 1px 10px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background: #007bff;
}

.back:active{
    background-color: #6aaffa;
}

.check{
    border: none;
    box-shadow: grey 1px 1px 10px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background: #28a745;
}

.check:active{
    background-color: #66af77;
}

.remove{
    color: red;
}

/*pannier endddddddd*/

/*formulaire start */

.formulaire{
    display: none;
}

form{
    background: #f5f5f5;
    padding-top:  30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px lightgrey;
    width: 60%;
    margin: auto;
    padding-left: 10%;
    margin-left: 10%;
    padding-right: 10%;
    margin-right: 10%;
}

input{
    height: 30px;
    width: 60%;
}

form >fieldset{
    margin: 10px auto 0px auto;
    align-items: center;
}

fieldset{
    border: medium none;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact-submit{
    border: none;
    box-shadow: grey 1px 1px 10px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background: #8F5BFE;
}
#contact-submit:hover{
    background-color: #a47aff;
}
#contact-submit:active{
    background-color: #8F5BFE;
}

#back{
    border: none;
    box-shadow: grey 1px 1px 10px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background: #ec3d3d;
}
#back:hover{
    background-color: #e45151;
}
#back:active{
    background-color: #ec3d3d;
}

/*formulaire endd*/

/*order start*/
#order_numer_message{
    margin: auto;
    margin-top: 200px;
    width: 80%;
    font-size: 1.4em;
    align-items: center;

}

/*order end*/
